{% extends 'base.html.twig' %}

{% block title %}
	Page d'accueil - Site Communautaire SnowTricks
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block body %}
	<section id="hero-section" class="hero-section">
		<div class="hero-background">
			<img src="{{ asset('images/default.png') }}" alt="Snowboard" class="hero-image">
		</div>
		<div class="hero-content">
			<h1>Rejoignez la communauté ultime des snowboarders</h1>
			<p>Découvrez, partagez et maîtrisez les meilleurs tricks de snowboard</p>
			<div class="hero-cta">
				<a href="#discover" class="btn btn-secondary">Découvrez les tricks</a>
			</div>
		</div>
		<div class="anchor-bottom-right">
			<a href="#tricks">
				<i class="fa-solid fa-arrow-down"></i>
			</a>
		</div>
	</section>

	<section class="d-flex flex-column align-center" id="tricks">
		{% if tricks is not empty %}
			<h2 id="discover" class="text-center my-4">Découvrez les tricks</h2>

			<div class="text-center">
				<a href="{{ path('app_trick_new') }}" class="btn btn-primary">Ajouter un trick</a>
			</div>
			{#  tricks list #}
			<section class="container mt-3">
        <article class="container">
          <div id="tricksContainer" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 mt-3">
          {% include 'trick/_list.html.twig' %}
          </div>
        <article>
			</section>
		{% else %}
					<p class="text-center">Aucun trick n'a encore été ajouté</p>
		{% endif %}
    {% if hasMore %}
    <div class="text-center mt-3">
      <button id="loadMoreBtn" class="btn btn-primary">Charger Plus</button>
    </div>
	{% endif %}
    <div class="anchor-bottom-right">
			<a href="#hero-section">
				<i class="fa-solid fa-arrow-up"></i>
			</a>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{# loadMore feature #}
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const loadMoreBtn = document.getElementById('loadMoreBtn');
    loadMoreBtn.addEventListener('click', function() {
      var container = document.getElementById('tricksContainer');
      if (!container) {
        console.error('Container not found');
        return;
      }
      var offset = container.querySelectorAll('.col').length;

      fetch('{{ path('app_index') }}?offset=' + offset, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (!data.html) {
          console.error('No HTML content in response');
          return;
        }
        container.insertAdjacentHTML('beforeend', data.html);
        if (!data.hasMore) {
          loadMoreBtn.remove();
        }
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
    });
  });

  </script>
{% endblock %}
