{% for trick in tricks %}
	<div class="col">
		<div class="card h-100 d-flex flex-column">
			<a href="{{ path('app_trick_show', {'slug': trick.slug}) }}" class="flex-grow-1 text-decoration-none">
				<div class="background-image-container">
					{% if trick.images|length > 0 %}
						{% set firstImage = trick.images|first %}
						{% if firstImage.description != "Image description" %}
							<img src="{{ asset('images/uploads/' ~ firstImage.name) }}" alt="{{ firstImage.description }}" class="card-img-top">
						{% else %}
							<img src="{{ firstImage.url }}" class="card-img-top" alt="{{ trick.name }}">
						{% endif %}
					{% else %}
						<img src="{{ asset('images/default.png') }}" class="card-img-top" alt="Default Image">
					{% endif %}
				</div>

				<div class="card-body">
					<h5 class="card-title">{{ trick.name }}</h5>
					<p class="card-text">{{ trick.description|length > 100 ? trick.description|slice(0, 100) ~ '...' : trick.description }}</p>
				</div>
			</a>
			<div class="crud-icons-index">
				{% if app.user and app.user.id == trick.user.id %}
					<div class="d-flex card-footer mt-auto bg-transparent">
						<a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}" class="btn btn-secondary">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						<div class="ms-2">
							{{ include('trick/_delete_form.html.twig') }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
