{% extends 'base.html.twig' %}
{% block title %}
	{{ trick.name }}
	- Site Communautaire SnowTricks
{% endblock %}

{% block body %}
	<div class="card">
		{% if trick.images|length > 0 %}
			{% set firstImage = trick.images|first %}
			{% if firstImage.description != "Image description" %}
				<img src="{{ asset('images/uploads/' ~ firstImage.name) }}" alt="{{ firstImage.description }}" class="img-thumbnail">
			{% else %}
				<img src="{{ firstImage.url }}" class="card-img-top img-thumbnail" alt="{{ trick.name }}">
			{% endif %}
		{% else %}
			<img src="{{ asset('images/default.png') }}" class="card-img-top" alt="Default Image">
		{% endif %}
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<h5 class="card-title">{{ trick.name }}</h5>
				<div class="category">{{trick.trickCategory.name}}</div>
			</div>
			<p class="card-text">{{ trick.description }}</p>
		</div>

    <div class="containerMedia">
      <div id="carrou1">
        <h2>Images</h2>
        <div class="row">
          {% for image in trick.images %}
            <div class="col-4">
              <img src="{{ asset('images/uploads/' ~ image.name) }}" class="img-thumbnail" alt="{{ image.description }}">
            </div>
          {% endfor %}
        </div>
      </div>

      <div id="carrou2">
        <h2>Vidéos</h2>
        <div class="row">
          {% for video in trick.videos %}
            <div class="col-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.externalId }}" allowfullscreen></iframe>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

		<div>
			<h2>Commentaires</h2>
			{% if app.user %}
				{{ include('comment/_form.html.twig', {'commentForm': form}) }}
			{% else %}
				<p>Vous devez être connecté pour poster un commentaire</p>
			{% endif %}
			<div id="comments">

				{% for comment in trick.comments %}
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ comment.user.firstname ~ " " ~ comment.user.lastname}}</h5>
							<p class="card-text">{{ comment.content }}</p>
							<p class="card-text">
								<small class="text-muted">{{ comment.createdAt|date('d/m/Y H:i') }}</small>
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
